.bouncingButton {
  -webkit-animation: bounce .5s infinite alternate;
  -moz-animation: bounce .5s infinite alternate;
  animation: bounce .5s infinite alternate;
}
@-webkit-keyframes bounce {
    to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
    to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
    to { transform: scale(1.2); }
}